body{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background: #dddd;
  text-align: center;
  font-size: 70px;
}

.timer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  font-family: sans-serif;
  padding: 24px 32px;
  border-radius: 30px;
  background-color: white;
}

.timer__part{
  font-weight: bold;
}

.timer__btn{
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
}

.timer__btn--start{
  background: #00b84c;
}
.timer__btn--stop{
  background: #ff0256;
}